verification_test/Projet/tp-test-uri/.idea/*
verification_test/Projet/tp-test-uri/target/*
verification_test/Projet/tp-test-uri/src/test/java/org/eclipse/emf/common/util/URITest.java
verification_test/Projet/tp-test-uri/URI.iml