verification_test/Projet/tp-test-uri/.idea/*
verification_test/Projet/tp-test-uri/target/*
verification_test/Projet/tp-test-uri/URI.iml
verification_test/Projet/TP_note/.idea/workspace.xml
verification_test/Projet/TP_note/.idea/modules.xml
verification_test/Projet/TP_note/.idea/misc.xml
verification_test/Projet/TP_note/.idea/compiler.xml
verification_test/Projet/TP_note/TP_note.iml
verification_test/Projet/TP_note/pom.xml